@import "./base.css";

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  width: 100%;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /* color: rgb(71, 0, 36); */
  /* 元素在不同状态之间切换时候的过渡效果 */
  color: inherit;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /* 普鲁士蓝 */
    background-color: rgb(86, 113, 143);
  }
}

/* 页面宽度小于此大小触发以下样式 */
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start;
  }

  #app {
    display: grid;
    /* 不开启分页 */
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}
